---
import Layout from "../layouts/Layout.astro";
import Header from "../components/astro/Header.astro";
import Hero from "../sections/Hero.astro";
import Clients from "../sections/Clients.astro";
import Claim from "../sections/Claim.astro";
import Projects from "../sections/Projects.astro";
---

<Layout title="Zil Design">
  <Header />
  <main>
    <Hero />
    <Clients />
    <Claim />
    <Projects />
  </main>
</Layout>
