---
import Layout from "../layouts/Layout.astro";
import Header from "../components/astro/Header.astro";
import Hero from "../sections/Hero.astro";
import Clients from "../sections/Clients.astro";
import Claim from "../sections/Claim.astro";
import Projects from "../sections/Projects.astro";
import Services from "../sections/Services.astro";
import HowWeWork from "../sections/HowWeWork.astro";
import CTA from "../sections/CTA.astro";
---

<Layout title="Zil Design">
  <Header />
  <main>
    <Hero />
    <Clients />
    <!-- <Claim /> -->
    <Projects />
    <HowWeWork />
    <Services />
    <CTA />
  </main>
</Layout>
