---
import ClientsMarquee from "../components/react/ClientsMarquee.tsx";
import mmg from "../assets/img/mmg.svg";
import quantia from "../assets/img/quantia.svg";
import clojure from "../assets/img/clojure.svg";
import netValue from "../assets/img/net-value.svg";
import advantia from "../assets/img/advantia.svg";

const logos = [
  { img: mmg, alt: "MMG Bank" },
  { img: quantia, alt: "Quantia" },
  { img: clojure, alt: "Clojure" },
  { img: netValue, alt: "Net Value" },
  { img: advantia, alt: "Advantia" },
];

// Plain, serializable data for the mobile marquee island.
const marqueeLogos = logos.map(({ img, alt }) => ({ src: img.src, alt }));
---

<section id="clients" class="border-t border-border/60 py-14 tablet:py-16">
  {/* Tablet / desktop: static row (inside the standard container) */}
  <ul
    class="mx-auto hidden w-full max-w-6xl items-center justify-between gap-10 px-6 tablet:flex tablet:px-8 desktop:px-12"
  >
    {
      logos.map(({ img, alt }) => (
        <li class="flex items-center">
          <img
            src={img.src}
            alt={alt}
            class="h-7 w-auto opacity-60 transition-opacity duration-300 hover:opacity-100"
          />
        </li>
      ))
    }
  </ul>

  {/* Mobile: full-bleed infinite marquee (edge to edge) */}
  <div class="tablet:hidden">
    <ClientsMarquee client:visible logos={marqueeLogos} />
  </div>
</section>
